<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Free quotes API">
    <meta name="author" content="efish">

    <title>Free Quotes API - Opinionated Quotes API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/index.css") %>">
    <!-- <script async defer src="<%= static_path(@conn, "/js/index.js") %>"></script> -->
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="<%= page_path(@conn, :index) %>" class="navbar-item title">Opinionated Quotes API</a>
      </div>
    </nav>
    <%= render @view_module, @view_template, assigns %>
  </body>
</html>
