<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Routes
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <h2 id="routes-v1" class="title is-4"><a class="is-size-5" href="#routes-v1">#</a> v.1</h2>
  <div class="container is-fullhd">
    <div class="columns">
      <div class="column">
        <a class="is-size-5 has-text-weight-semibold" href="#quotes-v1">#</a> <h3 id='quotes-v1' class="tag is-info is-size-6">GET</h3><code class="is-size-5">/v1/quotes</code>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="table__wrapper box">
          <table class="table is-narrow is-hoverable">
            <thead>
              <tr>
                <th>Param name</th>
                <th>Description</th>
                <th>Values</th>
                <th>Default</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>rand</th>
                <td>Random quotes?</td>
                <td>True values: <span class="is-italic">t</span>, <span class="is-italic">true</span>, <span class="is-italic">1</span>. Anything else is false.</td>
                <td class="is-italic">t</td>
              </tr>
              <tr>
                <th>n</th>
                <td># of quotes</td>
                <td><span class="is-italic">0</span>, <span class="is-italic">1</span>, ..., <span class="is-italic">max</span></td>
                <td class="is-italic">1</td>
              </tr>
              <tr>
                <th>offset</th>
                <td></td>
                <td><span class="is-italic">0</span>, <span class="is-italic">1</span>, ...</td>
                <td class="is-italic">0</td>
              </tr>
              <tr>
                <th>author</th>
                <td></td>
                <td>Strings like <span class="is-italic">pearce</span></td>
                <td class="is-italic"></td>
              </tr>
              <tr>
                <th>tags</th>
                <td></td>
                <td>Comma-separated tags like <span class="is-italic">technology,ethics</span></td>
                <td class="is-italic"></td>
              </tr>
              <tr>
                <th>tmode</th>
                <td>tag mode: Match <span class="is-italic">all</span> (default) of the supplied tags or at least one? I.e. match conjunctively (AND, <span class="is-italic">all</span>) or disjunctively (OR, <span class="is-italic">any</span>)?</td>
                <td><span class="is-italic">any, all</span></td>
                <td class="is-italic">all</td>
              </tr>
              <tr>
                <th>lang</th>
                <td></td>
                <td>Two-letter <a href="https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes" target="_blank" rel="noopener">ISO 639-1</a> code like <span class="is-italic">fi</span></td>
                <td class="is-italic">en</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="column">
        <% quote_example_path = v1_quote_path(@conn, :get_quotes, rand: "t", n: 2, author: "pearce", tags: "future,transhumanism") %>
        <h6 class="subtitle is-6">Example response from <a href='<%= quote_example_path %>'><%= URI.decode_www_form(quote_example_path) %></a> (formatted):</h6>
        <pre class="pre-wrap"><code>
          {
            "quotes": [{
              "tags": ["ethics", "evolution", "transhumanism", "future", "paradise engineering", "humans"],
              "quote": "Too many of our preferences reflect nasty behaviours and states of mind that were genetically adaptive in the ancestral environment. Instead, wouldn't it be better if we rewrote our own corrupt code?",
              "lang": "en",
              "author": "David Pearce"
            }, {
              "tags": ["science", "transhumanism", "future", "altruism", "paradise engineering"],
              "quote": "[T]rue hedonic engineering, as distinct from mindless hedonism or reckless personal experimentation, can be profoundly good for our character. Character-building technologies can benefit utilitarians and non-utilitarians alike. Potentially, we can use a convergence of biotech, nanorobotics and information technology to gain control over our emotions and become better (post-)human beings, to cultivate the virtues, strength of character, decency, to become kinder, friendlier, more compassionate: to become the type of (post)human beings that we might aspire to be, but aren't, and biologically couldn't be, with the neural machinery of unenriched minds. Given our Darwinian biology, too many forms of admirable behaviour simply aren't rewarding enough for us to practise them consistently: our second-order desires to live better lives as better people are often feeble echoes of our baser passions.",
              "lang": "en",
              "author": "David Pearce"
            }]
          }
        </code></pre>
      </div>
    </div>
  </div>

  <div class="container is-fullhd">
    <div class="columns">
      <div class="column">
        <a class="is-size-5 has-text-weight-semibold" href="#meta-v1">#</a> <h3 id='meta-v1' class="tag is-info is-size-6">GET</h3><code class="is-size-5">/v1/meta</code>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div class="table__wrapper box">
          <table class="table is-narrow is-hoverable">
            <thead>
              <tr>
                <th>Param name</th>
                <th>Description</th>
                <th>Values</th>
                <th>Default</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>ks</th>
                <td>fields to return</td>
                <td>Comma-separated keys like <span class="is-italic">n_quotes,max_quotes</span></td>
                <td class="is-italic">n_quotes</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="column">
        <% meta_example_path = v1_meta_path(@conn, :get_metadata, ks: "n_quotes,max_quotes") %>
        <h6 class="subtitle is-6">Example response from <a href='<%= meta_example_path %>'><%= URI.decode_www_form(meta_example_path) %></a> (formatted, comments added):</h6>
        <pre class="pre-wrap"><code>
          {
            "n_quotes":159, // the number of quotes in the database
            "max_quotes":50 // the maximum number of quotes that can be returned at once
          }
        </code></pre>
      </div>
    </div>
  </div>
</section>
